In [1]:
print("bism")

bism

liste_1 = [4,5,6,9,85,23,65,47,32,91] listenin en küçük ve en büyük elemanını min ve max fpnksiyonu kullanmadan bulun. sort fonk da kullanmayın

In [2]:
liste_1 = [4,5,6,9,85,23,65,47,32,91]
x=0
min_sayı = liste_1[0]
while x < len(liste_1):
    if min_sayı > liste_1[x]:
        min_sayı=liste_1[x]




    x+=1
print(min_sayı)

4

In [5]:
liste_1 = [4,5,6,9,85,23,65,47,32,91]
x=0
max_sayı = liste_1[0]
while x < len(liste_1):
    if max_sayı < liste_1[x]:
        max_sayı=liste_1[x]




    x+=1
print(max_sayı)

91

In [6]:
liste_1 = [4,5,6,9,85,23,65,47,32,91]

x=0

max_sayı = liste_1[0]
min_sayı = liste_1[0]

while x < len(liste_1):

    if max_sayı < liste_1[x]:
        max_sayı=liste_1[x]

    if min_sayı > liste_1[x]:
        min_sayı=liste_1[x]

    x+=1
print(max_sayı)
print(min_sayı)

91
4

# for

In [7]:
for i in "techpro":#for döngüsü iterable lar ile çalışır #i ddeğişkendir
    print(i)

t
e
c
h
p
r
o

In [9]:
for i in "techpro":#for döngüsü iterable lar ile çalışır int ile çalışmaz #i değişkendir
    print(i,"-",i*2) #i her defasında bir harfi aldı ve aralara - koydu ve 2 ile çarptı

t - tt
e - ee
c - cc
h - hh
p - pp
r - rr
o - oo

In [10]:
for k in "techpro":
    print(k,"-",k*2)

t - tt
e - ee
c - cc
h - hh
p - pp
r - rr
o - oo

In [11]:
k # değişkene verilen son değer "o"

'o'

In [12]:
c

1
4
9
16
25

In [13]:
"e" in "hello" #"e" hellonun içinde var mı demek

True

In [15]:
liste_2=[1,2,3,4,5]
x=0
while x<len(liste_2):

    print(liste_2[x]**2)
    x+=1

1
4
9
16
25

In [19]:

for i in (1,2,3,4,5):
    print(f"{i} sayısının karesi:{i**2}")

1 sayısının karesi:1
2 sayısının karesi:4
3 sayısının karesi:9
4 sayısının karesi:16
5 sayısının karesi:25

In [21]:
for i in (1,2,3,4,5):
    print(f"{i} sayısının karesi:{i**2}",end="---")

1 sayısının karesi:1---2 sayısının karesi:4---3 sayısının karesi:9---4 sayısının karesi:16---5 sayısının karesi:25---

In [20]:
for i in 1453: #1453 int bu yüzden hata. int iterable değil.
    print(i)

TypeError: 'int' object is not iterable

In [23]:
isimler_listesi=["irem","cihan","bahar","metehan"]

In [25]:
for i in isimler_listesi:
    print(i.capitalize())

Irem
Cihan
Bahar
Metehan

In [36]:
for i in (1,2,3,4,5):
    print(i**2,end="---")

1---4---9---16---25---

In [30]:
"Techpro"

'Techpro'

In [35]:
for i in "Techpro":
    print(i,end="-")

T-e-c-h-p-r-o-

In [40]:
empty_str=""
for i in "techpro":
    empty_str+=i+"-"
print(empty_str.rstrip("-")) #sondaki "-" sildi

t-e-c-h-p-r-o

In [41]:
dict_1={"name":"dilek","age":26,"job":"data_sci"}
dict_1

{'name': 'dilek', 'age': 26, 'job': 'data_sci'}

In [42]:
for i in dict_1: # keylerine ulaştık
    print(i)

name
age
job

In [43]:
dict_1.values()

dict_values(['dilek', 26, 'data_sci'])

In [45]:
for i in dict_1.items(): #ikililere ulaştık
    print(i)

('name', 'dilek')
('age', 26)
('job', 'data_sci')

In [46]:
for i,j in dict_1.items():
    print(i,j)

name dilek
age 26
job data_sci

In [47]:
for i,j in dict_1.items():
    print(i,j,sep="**")

name**dilek
age**26
job**data_sci

In [48]:
for i,j in dict_1.items():
    print(f"key:{i},value:{j},")

key:name,value:dilek,
key:age,value:26,
key:job,value:data_sci,

In [49]:
dict_1

{'name': 'dilek', 'age': 26, 'job': 'data_sci'}

In [50]:
dict_2={'name': 'dilek','surname':'yılmaz', 'age': 26, 'job': 'data_sci'}

In [53]:
for i,j in dict_2.items():
    print(f"key:{i},value:{j}")

key:name,value:dilek
key:age,value:26
key:job,value:data_sci

In [55]:
for i,j in dict_2.items():
    print(f"key:{i:<10},value:{j}") #i<10 karakter açtı ve keyleri sola yasladı

key:name      ,value:dilek
key:age       ,value:26
key:job       ,value:data_sci

In [57]:
for i,j in dict_2.items():
    print(f"key:{i:>10},value:{j:>10}") #i<10 karakter açtı ve key ve value ları sağa yasladı

key:      name,value:     dilek
key:       age,value:        26
key:       job,value:  data_sci

In [59]:
for i,j in dict_2.items():
    print(f"key:{i:^10},value:{j:^10}") #i^10 karakter açıp ortaladı

key:   name   ,value:  dilek
key:   age    ,value:    26
key:   job    ,value: data_sci

In [61]:
for i in True: #iterable değil
    print(i)

TypeError: 'bool' object is not iterable

In [62]:
"techpro".center(20) #20 karakter açıp ortaladı

'      techpro       '

In [63]:
"techpro".rjust(20) #20 karakter açıp sağa yasladı

'             techpro'

In [64]:
"techpro".ljust(20) #20 karakter açıp sola yasladı

'techpro             '

##### 50 tane alt alta hoca ceza verdi yanında sayılar yazsn

In [71]:
for i in range(1,51) :
    print(f"{i:<3} - hoca bize ceza verdi")

1   - hoca bize ceza verdi
2   - hoca bize ceza verdi
3   - hoca bize ceza verdi
4   - hoca bize ceza verdi
5   - hoca bize ceza verdi
6   - hoca bize ceza verdi
7   - hoca bize ceza verdi
8   - hoca bize ceza verdi
9   - hoca bize ceza verdi
10  - hoca bize ceza verdi
11  - hoca bize ceza verdi
12  - hoca bize ceza verdi
13  - hoca bize ceza verdi
14  - hoca bize ceza verdi
15  - hoca bize ceza verdi
16  - hoca bize ceza verdi
17  - hoca bize ceza verdi
18  - hoca bize ceza verdi
19  - hoca bize ceza verdi
20  - hoca bize ceza verdi
21  - hoca bize ceza verdi
22  - hoca bize ceza verdi
23  - hoca bize ceza verdi
24  - hoca bize ceza verdi
25  - hoca bize ceza verdi
26  - hoca bize ceza verdi
27  - hoca bize ceza verdi
28  - hoca bize ceza verdi
29  - hoca bize ceza verdi
30  - hoca bize ceza verdi
31  - hoca bize ceza verdi
32  - hoca bize ceza verdi
33  - hoca bize ceza verdi
34  - hoca bize ceza verdi
35  - hoca bize ceza verdi
36  - hoca bize ceza verdi
37  - hoca bize ceza verdi
38  - hoca bize ceza verdi
39  - hoca bize ceza verdi
40  - hoca bize ceza verdi
41  - hoca bize ceza verdi
42  - hoca bize ceza verdi
43  - hoca bize ceza verdi
44  - hoca bize ceza verdi
45  - hoca bize ceza verdi
46  - hoca bize ceza verdi
47  - hoca bize ceza verdi
48  - hoca bize ceza verdi
49  - hoca bize ceza verdi
50  - hoca bize ceza verdi

In [74]:
x=int(input("say giriniz 1 ve 9 arasında"))
for i in range(1,10) :
    print(i*x)

3
6
9
12
15
18
21
24
27