ödev1: Kullanıcıdan 1(dahil) ve 9(dahil) arasında bir sayı isteyin. bu sayının çarpım tablosunu oluşturun.

In [4]:
number = int(input("bir sayı girin.1 ve 9 arasında"))

if 1 <= number <= 9:

    for i in range(1,11):

        print(f"{number} x {i:<2} = {number * i}")

else:
    print("girdiğiniz sayı 1 ile 9 arasında değil. ")

8 x 1  = 8
8 x 2  = 16
8 x 3  = 24
8 x 4  = 32
8 x 5  = 40
8 x 6  = 48
8 x 7  = 56
8 x 8  = 64
8 x 9  = 72
8 x 10 = 80

ödev2: Kullanıcıdan 1(dahil) ve 9(dahil) arasında bir sayı isteyin. bu sayının çarpım tablosunu oluşturun. Kullanıcı bu aralıktab farklı bir değer girdiyse tekrar doğru değeri girmesini isteyin.

In [8]:
#ödev 2 çözüm 1
while True:

    number = int(input("bir sayı girin.1 ve 9 arasında"))

    if 1 <= number <= 9:

        for i in range(1,11):

            print(f"{number} x {i:<2} = {number * i}")

        break

    else:
        print("girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.")

girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.
girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.
5 x 1  = 5
5 x 2  = 10
5 x 3  = 15
5 x 4  = 20
5 x 5  = 25
5 x 6  = 30
5 x 7  = 35
5 x 8  = 40
5 x 9  = 45
5 x 10 = 50

In [9]:
#ödev 2 çözüm 2
while True:

    number = int(input("bir sayı girin.1 ve 9 arasında"))

    if 1 <= number <= 9:

        break

    else:
        print("girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.")

for i in range(1,11):

    print(f"{number} x {i:<2} = {number * i}")

girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.
8 x 1  = 8
8 x 2  = 16
8 x 3  = 24
8 x 4  = 32
8 x 5  = 40
8 x 6  = 48
8 x 7  = 56
8 x 8  = 64
8 x 9  = 72
8 x 10 = 80

In [12]:
#ödev 2 çözüm 3 deneme hakkı = 3

sayaç = 0

while True:

    number = int(input("bir sayı girin.1 ve 9 arasında"))

    sayaç += 1

    if 1 <= number <= 9:

        for i in [1,2,3,4,5,6,7,8,9,10]:

            print(f"{number} x {i:<2} = {number * i}")

        break

    else:
        print("girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.")

    if sayaç == 3:
        break

girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.

girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.
girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.

1 den 50(50 dahil) sayıların toplamını bulan kodu yazın. (n * (n + 1)) / 2

In [13]:
50 * 51 / 2

1275.0

In [14]:
sum(range(1,51))

1275

In [16]:
sum([1,2,3,4,5])

15

In [17]:
sum((1,2,3,4,5))

15

In [18]:
sum({1,2,3,4,5})

15

In [19]:
sum(["a","b"])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
sum([True, 2, 3.0 ,4, 5])

15.0

In [21]:
sum([True, 2, 3.0 ,4, 5],100)

115.0

In [22]:
toplam = 0

for i in range(1,51):
    toplam += i
    
print(toplam)

1275

1 den 50(50 dahil) çift sayıların toplamını bulan kodu yazın.

In [23]:
#yöntem 1
toplam = 0

for i in range(1,51):

    if i % 2 == 0:
        toplam += i
    
print(toplam)

650

In [24]:
# yöntem - 2
toplam = 0

for i in range(0,51,2):
    toplam += i
    
print(toplam)

650

In [25]:
# yöntem - 3
sum(range(0,51,2))

650

## break, continue

In [26]:
liste_1 = [1, 2, 3, 4, 5]
liste_1

[1, 2, 3, 4, 5]

In [28]:
#3 ve 3 ün katı olan sayıya denk gelindiğinde kod bitsin. diğer durumda sayıların karesini yazdırın
for i in liste_1:

    if i % 3 == 0:
        break
    else:
        print(i ** 2)

1
4

In [29]:
#3 ve 3 ün katı olan sayıya denk gelindiğinde kod devam etsin ancak işlem yapmasın. diğer durumda sayıların karesini yazdırın
for i in liste_1:

    if i % 3 == 0:
        continue
    else:
        print(i ** 2)

1
4
16
25

In [31]:
#çift sayıların toplamı. 1 ve 50 arası
# yöntem - 4
toplam = 0

for i in range(1,51):

    if i % 2 == 1:
        continue
    else:
        toplam += i

print(toplam)

650

## zip()

In [32]:
a = ["apple", "orange", "lemon"]
b = [1,2,3]

In [33]:
zip(a,b)

In [34]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [52]:
tuple(zip(a,b))

(('apple', 1), ('orange', 2), ('lemon', 3))

In [38]:
list(zip(b,a))

[(1, 'apple'), (2, 'orange'), (3, 'lemon')]

In [36]:
x = "Techpro"
y = "Cihan"
z = "Ayşe"

In [37]:
list(zip(x,y,z))

[('T', 'C', 'A'), ('e', 'i', 'y'), ('c', 'h', 'ş'), ('h', 'a', 'e')]

In [54]:
x = "Techpro"
y = "Cihan"
z = "Ayşe"
w = 12345

In [55]:
list(zip(x,y,z,w))

TypeError: 'int' object is not iterable

In [39]:
dict(zip(a,b))

{'apple': 1, 'orange': 2, 'lemon': 3}

In [40]:
meyveler = ["apple", "orange", "apple"]
adet = [1,2,3]

In [41]:
dict(zip(meyveler,adet))

{'apple': 3, 'orange': 2}

In [44]:
name = ["irem", "betül", "Tülay"]
age = [25,26,27]
job = ["data_scientist", "python_developer", "data_analyst"]

In [56]:
print(list(zip(name,age,job)))

[('irem', 25, 'data_scientist'), ('betül', 26, 'python_developer'), ('Tülay', 27, 'data_analyst')]

In [46]:
for item in zip(name,age,job):
    print(item)

('irem', 25, 'data_scientist')
('betül', 26, 'python_developer')
('Tülay', 27, 'data_analyst')

In [57]:
print(list(zip(name,age,job)))

[('irem', 25, 'data_scientist'), ('betül', 26, 'python_developer'), ('Tülay', 27, 'data_analyst')]

In [48]:
for i, j, k in zip(name,age,job):
    print(f"name: {i:<6}, age: {j}, job: {k}")

name: irem  , age: 25, job: data_scientist
name: betül , age: 26, job: python_developer
name: Tülay , age: 27, job: data_analyst

In [58]:
print(list(zip(name,age,job)))

[('irem', 25, 'data_scientist'), ('betül', 26, 'python_developer'), ('Tülay', 27, 'data_analyst')]

In [49]:
for i, j in zip(name,age,job):
    print(f"name: {i:<6}, age: {j}")

ValueError: too many values to unpack (expected 2)

In [59]:
print(list(zip(name,age,job)))

[('irem', 25, 'data_scientist'), ('betül', 26, 'python_developer'), ('Tülay', 27, 'data_analyst')]

In [51]:
for i, j, k in zip(name,age,job):
    print(f"name: {i:<6}, age: {j}")

name: irem  , age: 25
name: betül , age: 26
name: Tülay , age: 27

In [61]:
for i in range(1,11):
    print("değişkene ihtiyacım yok")

değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok

## enumerate()

In [62]:
name

['irem', 'betül', 'Tülay']

In [63]:
enumerate(name)

In [64]:
list(enumerate(name))

[(0, 'irem'), (1, 'betül'), (2, 'Tülay')]

In [65]:
list(enumerate(name, 100))

[(100, 'irem'), (101, 'betül'), (102, 'Tülay')]

number_list = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

Listenin min ve max değerleri arasındaki kayıp sayıları bulun

In [66]:
number_list = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [67]:
# çözüm - 1
kayıp_sayılar = []

for i in range(min(number_list),max(number_list)):

    if i not in number_list:
        kayıp_sayılar.append(i)

print(kayıp_sayılar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [73]:
# çözüm - 2
kayıp_sayılar = []

for i in range(min(number_list),max(number_list)):

    if i in number_list:
        continue
    
    kayıp_sayılar.append(i)

kayıp_sayılar.sort(reverse=True)

print(kayıp_sayılar)

[49, 43, 40, 38, 32, 31, 25, 23, 14, 12, 8]

In [71]:
#çözüm - 3

full_set = set(range(min(number_list),max(number_list)))

number_set = set(number_list)

full_set - number_set

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}